Flask==1.1.2
gunicorn==20.0.4
h5py==2.10.0
matplotlib==3.3.0
numpy==1.18.5
opencv-python==4.2.0.34
Pillow==7.2.0
python-debian==0.1.32
requests==2.24.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
resource-retriever==1.12.6
tensorflow==2.3.1
